.aboutSection{
	margin-top: 100px;
	margin-bottom: 50px;
	float: left;
	background-color: rgba(floralwhite,0.5);

	.lefSide{
		float: left;
		.lineDivider{
			height: 230px;
			width: 2px;
			background-color: $Night;
			margin: 50px auto;
		}
		.aboutImg{
			width: 370px;
			height: 440px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
	}
	.rightSide{
		h1{
			color: $Danger;
			padding: 40px 0;
			font-size: 40px;

		}
		p{
			line-height: 2;
			font-size: 20px;
		}
		.albumImg{
			width: 200px;
			height: 200px;
			overflow: hidden;
			float: left;	
			margin: 50px 0;	
			img{
				width: 100%;
				&:hover{
					opacity: 0.3;
					-ms-transform: rotate(180deg); /* IE 9 */
				    -webkit-transform: rotate(180deg); /* Safari */
				    transform: rotate(180deg); /* Standard syntax */	
				    transition: all 1.5s ease-in;	
				}
			}
		}
		.teamContainer{
			margin-top: 180px;

				.teamMember{
				width: 200px;
				height: 200px;
				float: left;	
				display: table;
				img{
					width: 100%;
					opacity: 0.3;
					border-radius: 50%;
					&:hover{
					   opacity: 1;
					   border-radius: 50%;
					   transition: opacity .5s ease-in-out;
					   -moz-transition: opacity .5s ease-in-out;
					   -webkit-transition: opacity .5s ease-in-out;
					}
				}
				a{
					color: lighten( $Danger, 40% );
					text-align: center;
					font-size: 18px;
					float: left;
					margin-top: 15px;
					&:hover{
						text-decoration: none;
						color: lighten( $Danger, 0 );
						transition: all .25s ease-in;	
					}
				}
				h6{
					text-align: center;
				}
			}
		}
	}
}
	.youtubeWrap{
		h1{
			padding: 30px;
		}
		.embed-responsive-16by9{
			padding-bottom: 0;
		}
		.orange-circle-button{
			box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
			border: .5em solid $Danger;
			font-size: 1em;
			line-height: 1.1em;
			color: $Default;
			background-color: $Danger;
			margin: 70px 0;
			border-radius: 50%;
			height: 7em;
			width: 7em;
			font-family: 'Montserrat', sans-serif;
			padding-top: 20px;
			&:hover{
				color:#ffffff;
				text-decoration: none;
				border-color: lighten( $Danger, 10% );;		
			}
			&:focus{
				outline: none;
			}

		}

	}









